{% extends 'base.html.twig' %}

{% block title %}Hello PedidoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Detalle del pedido de {{ apellido}}, {{  nombre }}</h3>
    <h3>Productos</h3>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.descripcion }}</li>
        {% endfor %}
    </ul>
    <h4>Domicilio de entrega: {{ domicilio }}</h4>
    <h4>Precio Total$: {{ precioTotal }}</h4>
</div>
    <hr style="border:1px dotted black;" />
    <div class="example-wrapper">
        <h2>Detalle del pedido de {{ apellido}}, {{  nombre }}</h2>
        <h3>Productos</h3>
        <ul>
            {% for producto in productos %}
                <li>{{ producto.descripcion }}</li>
            {% endfor %}
        </ul>
        <h3>Domicilio de entrega: {{ domicilio }}</h3>
        <h3>Precio Total$: {{ precioTotal }}</h3>
    </div>


{% endblock %}
