{% extends 'base.html.twig' %}

{% block title %}Hello PedidoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Cliente: {{ apellido}}, {{  nombre }}</h3>
    <h3>Detalle del pedido</h3>
    <ul>
        {% for linea in detalle %}
            <li>{{ linea }}</li>
        {% endfor %}
    </ul>
    <h3>Precio Total: ${{ precioTotal }}</h3>
    <h3>Domicilio de entrega: {{ domicilio }}</h3>
    <h3>Telefono del cliente: {{ telefonoCliente }}</h3>
    <h3>Hora entrega: {{ horaEntrega }}</h3>


</div>
    <hr style="border:1px dotted black;" />
<div class="example-wrapper">
    <h3>Cliente: {{ apellido}}, {{  nombre }}</h3>
    <h3>Detalle del pedido</h3>
    <ul>
        {% for linea in detalle %}
            <li>{{ linea }}</li>
        {% endfor %}
    </ul>
    <h3>Precio Total: ${{ precioTotal }}</h3>
    <h3>Domicilio de entrega: {{ domicilio }}</h3>
    <h3>Telefono del cliente: {{ telefonoCliente }}</h3>
    <h3>Hora entrega: {{ horaEntrega }}</h3>
</div>



    {% endblock %}
